<%-include('../partials/header.ejs')%>
<div class="homeNav">	
	<form method="GET" action="/community/new">
		<button>Create Community</button>
	</form>
	<form method="GET" action="/roar/feed">
		<button>Feed</button>
	</form>
	<form method="GET" action="/">
		<button>Profile</button>
	</form>
</div>
<h1 class="Welcome">Communities</h1>
<div class="container">
	<%for(let i =0; i<communities.length; i++){%>
	<div class="card">
		<strong><%=communities[i].name%></strong>
		<p><%=communities[i].description%></p>
		<small>Created By: <%=communities[i].admin.username%></small>
		<small>Created: <%=communities[i].date.toLocaleString()%></small>

		
		<form method="POST" action="/community/join/<%=communities[i]._id%>">
		<button class="joinBtn">Join</button>
		</form>
	</div>
	<%}%>

</div>


<%-include('../partials/footer.ejs')%>