<%-include('../partials/header.ejs')%>
<div class="homeNav">	
	<form method="GET" action="/community/new">
		<button>Create Community</button>
	</form>
	<form method="GET" action="/roar/feed">
		<button>Public Feed</button>
	</form>
	<form method="GET" action="/user">
		<button>Profile</button>
	</form>
</div>
<small><%= message %></small>

<h1 class="Welcome">Communities</h1>
<div class="container">
	<%for (let i = 0; i < communities.length; i++) {

		console.log("\nhere is communities[i]");
		console.log(communities[i]);
		%>
		<div class="card">
			<strong><%=communities[i].name%></strong>
			<p><%=communities[i].description%></p>
			<small>Created By: <%=communities[i].admin.username%></small>
			<small>Created: <%=communities[i].date.toLocaleString()%></small>
		<div>

		<%
			console.log("\n here is communities[i].users");
			console.log(communities[i].users);
		%>

		<%

		let userIsMember = false
		for(let y = 0; y<communities[i].users.length; y++){
			%>
			<% if(communities[i].users[y] == loggedInUserId){ %> 
				<% userIsMember = true%> 
				<%console.log("else",communities[i].users[y] === loggedInUserId);%>
			<% } %>
		<%}%>
		<%console.log( "current value: ",userIsMember);%>
		<%if(!userIsMember) {%>
			<% console.log("heres the c:", communities[i].id);%>
			<form method="POST" action="/community/join/<%=communities[i]._id%>">
				<button class="joinBtn">Join</button>	
			</form>
		<%} else {
			console.log("user is member of", communities[i].name);
			%>
			<form method="GET" action="/roar/feed/<%=communities[i]._id%>">
				<button class="joinBtn">View Community Feeds</button>
				<% console.log("new value:",userIsMember); %>
			</form>
		<%}%>
		</div>
		</div>
	<%}%>

	</div>


	<%-include('../partials/footer.ejs')%>