<%-include('../partials/header.ejs')%>
<div class="homeNav">	
	<form method="GET" action="/community/new">
		<button>Create Community</button>
	</form>
	<form method="GET" action="/">
		<button>Profile</button>
	</form>
</div>
<h1 class="Welcome">Communities</h1>
<div class="container">
	<%communities.forEach((communities)=>{%>
	<div class="card">
		<strong><%=communities.name%></strong>
		<p><%=communities.description%></p>
		<small>Created By:</small>
		<small>Created: <%=communities.date.toLocaleString()%></small>
		
		<button class="joinBtn">Join</button>
	</div>

	<%})%>
</div>


<%-include('../partials/footer.ejs')%>