<%-include('../partials/header.ejs')%>
<div class="homeNav">	
	<form method="GET" action="/roar/feed">
		<button>Feed</button>
	</form>
	<form method="GET" action="/auth/logout">
		<button>Logout</button>
	</form>
</div>

<h1>Profile</h1>
<div class="container">
	<%  for(let i = 0; i < user.communities.length; i++) { %>
	<div class ="card">
		
    	<p><%= user.communities[i].name %></p>
			<%if(both){%>
				<form >
				<button href="/community/edit/<%= communities[i]%>">Edit</button>
				</form>
				<form method="POST" action="/community/<%= communities[i]._id %>?_method=delete">
				<button>Delete</button>
				</form>
			<%} else if(isMember) {%>
				<form method="POST" action="/user/<%= communities[i] %>?_method=delete">
					<button>Leave Community</button>
				</form>
			<%}%>
	</div>
	<% } %>
<div>
<%-include('../partials/footer.ejs')%>