<%-include('../partials/header.ejs')%>

<%-include('../partials/feedsNav.ejs')%>


	
<%if(member){%>
<div class="container">
	<%communityPost.forEach((communityPost)=>{%>
	<div class="card">
		<strong class="Welcome"><%=communityPost.title%></strong>>
		<p class="Welcome"><%=communityPost.content%></p>
		
		<small class="Welcome">Created: <%=communityPost.date.toLocaleString()%></small>
	
	</div>

	<%})%>
<%}else { %>
	<div class="container">
		<%feeds.forEach((feeds)=>{%>
		<div class="card">
			<strong class="Welcome"><%=feeds.title%></strong>
			<p class="Welcome"><%=feeds.content%></p>
	
			<small class="Welcome">Created: <%=feeds.date.toLocaleString()%></small>
		</div>

		<%})%>
	</div>
<% } %>
</div>
<br>

<% if(!member){%>

<form method="GET" action="/roar/new">
	<div class="roar">
		<button class="btn btn-secondary">Add roar</button>
	</div>
</form>
<%}else{%>
	<%if(community == undefined){%>
		<form method="GET" action="/roar/new">
			<button class="btn btn-secondary" id="roar">Add roar</button>
		</form>
		
	<%}else{%>
	<%console.log("I am a member");%>
	<form method="GET" action="/roar/new/<%=community%>">
			<%comunity = undefined%>
			<div class="roar">
				
				<button class="btn btn-secondary" >Add roar</button>
				
			</div>
	</form>
	<form method="GET" action="/community/new">
		<div class="roar">
			
			<button class="btn btn-secondary">Create Community</button>
		</div>
	</form>
	<%}%>
<%}%>

<%-include('../partials/footer.ejs')%>