<%-include('../partials/header.ejs')%>
<div class="homeNav">

	
	<form method="GET" action="/auth/logout">
		<button>Logout</button>
	</form>
	<form method="GET" action="/community/show">
		<button>Community</button>
	</form>
	<form method="GET" action="/auth/login">
		<button>Login</button>
	</form>

</div>

<h1 class="Welcome">FEED</h1>

<div class="container">
	<%feeds.forEach((feeds)=>{%>
	<div class="card">
		<strong><%=feeds.title%></strong>
		<p><%=feeds.content%></p>
		
		<small>Created: <%=feeds.date.toLocaleString()%></small>
	
	</div>

	<%})%>
</div>
<br>

<% if(!member){%>
<form method="GET" action="/roar/new">
		<button>Add roar</button>
</form>
<%}else{%>
	<form method="GET" action="/roar/new/<%=community%>">
		<button>Add roar</button>
	</form>
<%}%>
<%-include('../partials/footer.ejs')%>