<%-include('../partials/header.ejs')%>
<div class="homeNav">

	
	<form method="GET" action="/auth/logout">
		<button>Logout</button>
	</form>
	<form method="GET" action="/community/show">
		<button>Community</button>
	</form>
	<form method="GET" action="/auth/login">
		<button>Login</button>
	</form>

</div>

<h1 class="Welcome">FEED</h1>

<%if(member){%>
<div class="container">
	<%communityPost.forEach((communityPost)=>{%>
	<div class="card">
		<strong><%=communityPost.title%></strong>
		<p><%=communityPost.content%></p>
		
		<small>Created: <%=communityPost.date.toLocaleString()%></small>
	
	</div>

	<%})%>
<%}else { %>
	<div class="container">
		<%feeds.forEach((feeds)=>{%>
		<div class="card">
			<strong><%=feeds.title%></strong>
			<p><%=feeds.content%></p>
			
			<small>Created: <%=feeds.date.toLocaleString()%></small>
		
		</div>

		<%})%>
	</div>
<% } %>
</div>
<br>

<% if(!member){%>
<%console.log("I am not a member");%>
<form method="GET" action="/roar/new">
		<button>Add roar</button>
</form>
<%}else{%>
	<%if(community == undefined){%>
		<form method="GET" action="/roar/new">
			<button>Add roar</button>
		</form>
	<%}else{%>
	<%console.log("I am a member");%>
	<form method="GET" action="/roar/new/<%=community%>">
			<%comunity = undefined%>
		<button>Add roar</button>
	</form>
	<%}%>
<%}%>
<%-include('../partials/footer.ejs')%>